@font-face {
    font-family: 'GreatVibes';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'GreatVibes';
    background: #eaedff;
    margin: 13px 28px;
    overflow: hidden;

    /* @media screen and (max-width: 1024px) {
        margin: 8px 8px;
    }

    @media screen and (max-width: 576px) {
        margin: 2px 2px;
        font-size: 14px;
    } */
}

.account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;

    &__link {
        font-weight: 400;
        font-size: 25px;
        line-height: 120%;
        color: #3A3C71;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__img {
        width: 37px;
        height: 37px;
        border-radius: 100%;
        background: #a6a1e1;
        cursor: pointer;
    }

    &-play {
        align-items: center;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;
        }
    }
}

.title {
    font-weight: 400;
    font-size: 128px;
    line-height: 120%;
    color: #3a3c71;
    margin: 0;

    &-small {
        font-size: 60px;
        text-decoration: none;

        @media screen and (max-width: 576px) {
            margin-bottom: 50px;
        }
    }

    &-modal {
        font-size: 70px;

        /* @media screen and (max-width: 1024px) {
            font-size: 40px;
        }

        @media screen and (max-width: 576px) {
            font-size: 22px;
        } */
    }

    @media screen and (max-width: 1024px) {
        font-size: 70px;
    }

    /*  @media screen and (max-width: 576px) {
        font-size: 28px;
    } */
}

.content {
    margin: 100px auto 0 auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.btn {
    font-family: 'GreatVibes';
    border-radius: 20px;
    border: none;
    max-width: 439px;
    min-width: 339px;
    height: 80px;
    padding-top: 10px;
    background: #a6a1e1;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    color: #3a3c71;
    cursor: pointer;
    border: 3px #a6a1e1 solid;
    transition: all .3s;

    &:hover {
        background: #eaedff;
        font-size: 46px;
    }

    &-modal {
        font-size: 50px;
        min-width: 120%;

        &:hover {
            background: #eaedff;
            font-size: 40px;
        }

        /*  @media screen and (max-width: 1024px) {
            font-size: 28px;
            min-width: 100%;
        }

        @media screen and (max-width: 576px) {
            min-width: 100px;
            font-size: 13px;
            height: 32px;
            border-radius: 8px;
        } */
    }

    /*   @media screen and (max-width: 1024px) {
        font-size: 36px;
        min-width: 220px;
        height: 50px;
    }

    @media screen and (max-width: 576px) {
        font-size: 16px;
        min-width: 100px;
        height: 32px;
        border-radius: 8px;
    } */
}

a.btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat {
    position: absolute;
    bottom: -8px;
    right: 0px;

    @media screen and (max-width: 567px) {
        display: none;
    }
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @media screen and (max-width: 1024px) {
        gap: 60px;
    }

    &__gallows {
        height: 250px;
        width: 200px;
        position: relative;

        /*  /* @media screen and (max-width: 1024px) {
            height: 170px;
            width: 130px;
        } */

        /*  @media screen and (max-width: 576px) {
            height: 90px;
            width: 60px;
        } */
        &-stick1 {
            display: none;
            position: absolute;
            bottom: 0;
            left: 3px;
            width: 5px;
            background: #000;
            height: 250px;
        }

        &-stick2 {
            display: none;
            position: absolute;
            top: 0;
            left: 3px;
            width: 160px;
            height: 5px;
            background: #000;
        }

        &-stick3 {
            display: none;
            position: absolute;
            top: 0;
            left: 163px;
            width: 5px;
            height: 50px;
            background: #000;
        }

        &-head {
            display: none;
            position: absolute;
            top: 50px;
            left: 138px;
            width: 57px;
            height: 57px;
            border-radius: 100%;
            background: #d9d9d9;
        }

        &-body {
            display: none;
            position: absolute;
            top: 100px;
            left: 151px;
            width: 32px;
            height: 112px;
            border-radius: 100%;
            background: #d9d9d9;
        }

        &-left_hand {
            display: none;
            position: absolute;
            z-index: -1;
            left: -50px;
            top: 5px;
            width: 64px;
            height: 3px;
            background: #000;
            transform: rotate(200deg);
        }

        &-right_hand {
            display: none;
            position: absolute;
            z-index: -1;
            right: -54px;
            top: 31px;
            width: 64px;
            height: 3px;
            background: #000;
            transform: rotate(200deg);
        }

        &-left_leg {
            display: none;
            position: absolute;
            z-index: -1;
            left: -38px;
            bottom: -10px;
            width: 64px;
            height: 3px;
            background: #000;
            transform: rotate(120deg);
        }

        &-right_leg {
            display: none;
            position: absolute;
            z-index: -1;
            right: -38px;
            bottom: -8px;
            width: 64px;
            height: 3px;
            background: #000;
            transform: rotate(60deg);
        }
    }

    &__word {
        border: 2px solid #3a3c71;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 37px;
        padding: 10px 27px;
        border-radius: 34px;
        max-width: 964px;
        max-height: 110px;
        background: #eaedff;

        @media screen and (max-width: 1024px) {
            gap: 18px;
            padding: 8px 16px;
            font-size: 24px;
            max-width: 90vw;
        }

        @media screen and (max-width: 576px) {
            gap: 8px;
            padding: 4px 8px;
            font-size: 16px;
            max-width: 95vw;
        }

        &_letter {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            background: #3a3c71;
            color: #3a3c71;
            font-family: 'Times New Roman', Times, serif;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 36px;
            line-height: 1;
            transition: all .3s;
            width: 48px;
            height: 48px;
            min-width: 48px;
            min-height: 48px;
            max-width: 48px;
            max-height: 48px;
            box-sizing: border-box;

            &-unlock {
                background: #a6a1e1;
                color: #3a3c71;
            }

            @media screen and (max-width: 1024px) {
                font-size: 24px;
                width: 32px;
                height: 32px;
                min-width: 32px;
                min-height: 32px;
                max-width: 32px;
                max-height: 32px;
            }

            @media screen and (max-width: 576px) {
                font-size: 14px;
                width: 22px;
                height: 22px;
                min-width: 22px;
                min-height: 22px;
                max-width: 22px;
                max-height: 22px;
            }
        }
    }

    &__keyboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 13px;
        width: 100vw;
        padding: 10px 0;

        @media screen and (max-width: 1024px) {
            gap: 8px;
            padding: 6px 0;
        }

        @media screen and (max-width: 576px) {
            gap: 2px;
            padding: 2px 0;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 13px;

            @media screen and (max-width: 1024px) {
                gap: 8px;
            }

            @media screen and (max-width: 576px) {
                gap: 2px;
            }
        }

        &_key {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #a6a1e1;
            width: 78px;
            height: 78px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 32px;
            line-height: 120%;
            color: #3a3c71;
            text-transform: uppercase;
            border-radius: 8px;
            transition: all .3s;
            cursor: pointer;
            user-select: none;

            @media screen and (max-width: 1024px) {
                width: 38px;
                height: 38px;
                font-size: 24px;
            }

            @media screen and (max-width: 576px) {
                width: 28px;
                height: 32px;
                font-size: 16px;
            }

            @media screen and (max-width: 450px) {
                width: 26px;
                height: 30px;
            }

            &:hover {
                background: #d0ccff;
            }

            &-right {
                background: #b6ffd3;

                &:hover {
                    background: #c7fadc;
                }
            }

            &-wrong {
                background: #f0c7c0;

                &:hover {
                    background: #f0d2cd;
                }
            }
        }
    }
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #46477482;
}

.modal {
    padding: 20px 60px;
    position: relative;
    border: 4px solid #3a3c71;
    max-width: 35%;
    //max-width: 550px;
    min-height: 536px;
    max-height: 600px;
    margin: 100px auto;
    background: #eaedff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;

    @media screen and (max-width: 576px) {
        max-width: 95%;
        gap: 35px;

        .title {
            font-size: 75px;
        }
    }

    &__close {
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        top: -44px;
        right: -30px;
        color: #3a3c71;
        font-size: 50px;
        font-weight: 600;
        cursor: pointer;

        @media screen and (max-width: 576px) {
            top: -10px;
            right: 0px;
        }
    }

    input {
        border: 2px solid #3a3c71;
        border-radius: 20px;
        width: 120%;
        height: 76px;
        background: #eaedff;
        font-weight: 400;
        font-size: 25px;
        line-height: 120%;
        color: #3a3c71;
        padding: 0 10px;
    }

    &__rule {
        overflow-y: scroll;
        font-weight: 400;
        font-size: 25px;
        line-height: 120%;
        text-align: center;
        color: #000;
        position: relative;

        &::-webkit-scrollbar-track {
            background: transparent;
            position: absolute;
            top: 0;
            right: -40px;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: #a6a1e1;
            border-radius: 100px;
            display: none;
        }

        @media screen and (max-width: 576px) {
            height: 200px;
        }
    }

    &__result {
        font-size: 30px;
    }

    &__arr {
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        top: -10px;
        left: 10px;
        color: #3a3c71;
        font-size: 50px;
        font-weight: 600;
        cursor: pointer;
    }

    &__checkboxes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        @media screen and (max-width: 576px) {
            width: 250px;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
        }

        label {
            font-size: 25px;
        }

        input {
            width: 20px;
            height: 20px;
        }
    }

    &-signIn {
        display: none;
    }

    &-rule {
        display: none;
    }

    &-answer {
        display: none;
    }

    &-gameOver {
        display: none;

        @media screen and (max-width: 576px) {
            min-height: 336px;
        }
    }

    &-selectWords {
        display: none;
    }

    &-enterWord {
        display: none;
    }
}